@model IEnumerable<OnlineShop.Models.Category>

<h1>Lista Categorii</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Adaugă Categorie Nouă</a>
</p>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Nume Categorie</th>
        <th>Acțiuni</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Editează</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Șterge</a>
            </td>
        </tr>
    }
    </tbody>
</table>