@model IEnumerable<OnlineShop.Models.Product>

<br />
<h2 class="text-center">Afisare produse</h2>
<br />
@if (User.IsInRole("Admin") || User.IsInRole("Editor"))
{
    <p >
        <a asp-action="Create" class="btn btn-primary">Adauga produs</a>
    </p>
}
@if (Model == null || !Model.Any())
{
    <p class="text-center">Nu exista produse inca.</p>
}
else
{
    foreach (var produs in Model)
    {
        <div class="card mb-3">
            <partial name="ProdusInfo" model="produs" />
            <a class="btn btn-success"
               asp-controller="Products"
               asp-action="Show"
               asp-route-id="@produs.Id">
                Afisare produs
            </a>
        </div>
    }
}